---
import Layout from "../layouts/Layout.astro";
import Sep from "../components/Sep.astro";
import Gallary from "../components/Gallary.astro";
---

<!-- 
#EDF1D6
#9DC08B
#609966
#40513B
 -->
<Layout title="DPgarden">
  <main class="relative">
    <section
      class="flex h-screen w-full flex-col items-center justify-center gap-4 bg-[url(ar1.jpg)] bg-cover bg-fixed bg-center text-center"
    >
      <img
        src="logo.jpg"
        alt=""
        class="aspect-square w-1/2 rounded-full drop-shadow-[0_4px_3px_rgba(0,0,0,0.5)] transition-all md:w-1/6"
      />
      <h1
        class="font-varela text-5xl font-bold text-gray-900 drop-shadow-[0_4px_3px_rgba(0,0,0,0.5)]"
      >
        עיצוב הטבע לחיים
        <span class="font-bold text-green-700">משובחים</span>
      </h1>
      <div class="flex flex-col gap-4 md:flex-row">
        <a
          href="https://wa.me/972505046570"
          class="mt-1 flex flex-row items-center justify-between gap-4 rounded-2xl border-b-4 border-green-800 bg-green-600 px-2 py-1 pr-4 text-center text-lg text-white transition-all hover:mt-0 hover:border-b-8 active:translate-y-1 active:border-b-4"
          >Whatsapp<i class="fa-brands fa-whatsapp"></i>
        </a>
        <a
          href="#calculator"
          class="mt-1 flex flex-row items-center justify-between gap-4 rounded-2xl border-b-4 border-gray-400 bg-white px-2 py-1 pr-4 text-center text-lg text-black transition-all hover:mt-0 hover:border-b-8 active:translate-y-1 active:border-b-4"
          >למחשבון הצעת מחיר<i class="fa-regular fa-face-smile"></i>
        </a>
      </div>
    </section>
    <div
      class="my-12 mx-auto flex w-full justify-around gap-y-5 py-5 text-center text-xl font-medium max-sm:flex-col xl:text-2xl"
    >
      <div>
        <i
          class="fa-regular fa-heart text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
        ></i>
        <p class="">אחריות מלאה</p>
      </div>
      <div>
        <i
          class="fa-regular fa-user text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
        ></i>
        <p class="">צוות מנוסה וחביב</p>
      </div>
      <div>
        <i
          class="fa-regular fa-clock text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
        ></i>
        <p class="">שעות עבודה ותקציב קבועות</p>
      </div>
      <div>
        <i
          class="fa-regular fa-circle-check text-5xl text-gray-700 transition-all hover:scale-110 lg:text-6xl"
        ></i>
        <p class="">תכנון ותיאום ציפיות לפרויקט</p>
      </div>
    </div>
    <section
      class="flex w-full flex-col items-center justify-center px-10 text-center"
    >
      <h1 class="font-varela text-5xl font-bold xl:text-6xl">שירותים</h1>
      <Sep />
      <h4 class="mb-2 font-heebo text-lg text-gray-500 md:text-2xl xl:text-3xl">
        אנו בונים מתחזקים ומשדרגים את גינת החלומות שלכם
      </h4>
      <p class="max-w-5xl text-lg md:text-2xl xl:text-3xl">
        אנו מתמחים בהקמת גנים ירוקים וחסרי פשרות עם תפיסה ייחודית לפרטיות
        ואסתטיקה. חברתנו מספקת מגוון שירותי הקמה, עיצוב ושיפוץ לגנים ונדל"ן. <br
        />
        כמו כן, אנו מספקים שירותי תחזוקה לגנים ונדל"ן כדי להבטיח גידול נכון וטיפול
        בסביבה הירוקה שלכם. בנוסף, אנו מתמחים בהקמת גגות ירוקים, בניית פרגולות ובמספקים
        שירותי פיתוח והקמת כניסות ובריכות שחייה לגינות שלכם.
      </p>
    </section>
    <section
      class="mt-8 flex w-full flex-col items-center justify-center px-10 text-center"
    >
      <h1 class="font-varela text-3xl font-bold xl:text-4xl">למה אנחנו</h1>
      <Sep />

      <p class="max-w-5xl text-lg md:text-2xl xl:text-3xl">
        אנחנו לא רק יוצרים גנים יפים, אנחנו מעצבים מרחבי חוץ אישיים שמשפרים את
        איכות החיים שלכם. הצוות המיומן שלנו משתמש בחומרי בניין וצמחים באיכות
        גבוהה כדי לספק תוצאות מדהימות שמחזיקות לאורך זמן.
      </p>

      <h4 class="mt-2 font-heebo text-lg font-bold md:text-2xl xl:text-3xl">
        מהרעיון ועד התחזוקה, אנחנו איתכם בכל שלב. יחדיו, נהפוך את החזון שלכם
        למציאות.
      </h4>
    </section>

    <a
      href="#calculator"
      class="mx-auto mt-3 flex w-56 flex-row items-center justify-between gap-4 rounded-2xl border-b-4 border-gray-300 bg-gray-600 px-2 py-1 pr-4 text-center text-lg text-white transition-all hover:mt-2 hover:border-b-8 active:translate-y-1 active:border-b-4"
      >למחשבון הצעת מחיר<i class="fa-regular fa-face-smile"></i>
    </a>

    <img
      src="/ar3.jpg"
      alt=""
      class="mt-7 h-[260px] w-full object-cover object-center xl:h-[560px]"
    />

    <section class="w-full space-y-3 px-12 pb-16 pt-24 text-center">
      <h1 class="font-varela text-4xl font-bold md:text-5xl lg:text-6xl">
        משדרגים לך את הגינה
      </h1>
      <h3 class="font-vare text-2xl">השאירו פרטים ונחזור אליכם בקרוב</h3>
      <form
        action="https://formsubmit.co/maorrachmiel@gmail.com"
        class="mx-auto space-y-8 lg:w-3/4 xl:w-1/2"
        onsubmit=""
        method="post"
      >
        <input
          type="text"
          name="name"
          id="name"
          class="block w-full rounded-full border border-gray-300 bg-gray-50 p-2.5 text-base text-gray-900 shadow-sm"
          required
          placeholder="שם מלא"
        />

        <input
          type="number"
          name="phone"
          id="phone"
          class="block w-full rounded-full border border-gray-300 bg-gray-50 p-2.5 text-base text-gray-900 shadow-sm"
          required
          placeholder="מספר טלפון"
        />

        <textarea
          id="message"
          name="message"
          rows="6"
          class="block w-full rounded-3xl border border-gray-300 bg-gray-50 p-2.5 text-base text-gray-900 shadow-sm"
          style="direction:RTL;"
          placeholder="הודעה (לא חובה)"></textarea>

        <button
          type="submit"
          class="w-full rounded-full bg-gray-900 py-2 text-center font-heebo text-xl font-semibold text-white shadow-sm transition-all duration-150 hover:scale-105 hover:shadow-md focus:outline-none focus:ring-4"
          >חזור אליי!</button
        >
      </form>
    </section>
    <img
      src="/parquet.jpg"
      alt=""
      class="mt-7 h-[260px] w-full object-cover object-center xl:h-[560px]"
    />
    <section class="px-3 py-8">
      <h4 class="font-varela text-4xl font-bold md:text-5xl">
        צוות מקצועי ומנוסה
      </h4>
      <Sep />
      <p class="mx-auto max-w-5xl text-lg md:text-2xl">
        אנו מומחים בתחום ההקמה והשיפוץ של גנים, אנו מציעים שירותים איכותיים
        ומקצועיים ללקוחותינו בישראל ובארצות הברית. אנו עובדים בתחום זה מעל חמש
        שנים בארצות הברית ומספקים פתרונות חדשניים ואקולוגיים ללקוחותינו.
      </p>
      <p class="mx-auto mt-4 max-w-5xl text-lg md:text-2xl lg:mt-6">
        ניסיון רב בתחום הגנות ירוקות, הקמת בריכות, פרגולות ואזורי ישיבה, הופכים
        אותנו לחברה אמינה ומומלצת בתחום, עם צוות מקצועי שמתמחה בכל אחד מהתחומים.
        הגישה האישית והקפדה על הפרטים הקטנים מבטיחים ללקוחותיה תוצאות מרשימות
        ואסתטיות שלא תשכחו לעולם.
      </p>
      <a
        href="#calculator"
        class="mx-auto mt-3 flex w-fit flex-row items-center justify-between gap-4 whitespace-nowrap rounded-2xl border-b-4 border-gray-300 bg-stone-800 px-2 py-1 pr-4 text-center text-lg text-white transition-all hover:mt-2 hover:border-b-8 active:translate-y-1 active:border-b-4"
        >למחשבון הצעת מחיר לעצוב גינה<i class="fa-regular fa-face-smile"></i>
      </a>
    </section>
    <img
      src="/pargula.jpg"
      alt=""
      class="mt-7 h-[260px] w-full object-cover object-center xl:h-[560px]"
    />
    <section class="px-3 py-8">
      <h4 class="font-varela text-4xl font-bold md:text-5xl">
        גינות עוצרות נשימה שמחזיקות מעמד
      </h4>
      <Sep />
      <p class="mx-auto max-w-5xl text-lg md:text-2xl">
        אנו מציעים מגוון רחב של שירותי קמת ושיפוץ גנים ללקוחותינו. השירותים
        כוללים בניית פרגולות ואזורי ישיבה, הקמת בריכות טבעיות ומלונות ספא, הקמת
        גינות מעוצבות, הקמת דקים ודשא סינטטי. אנו גם מתמחים בהקמת בריכות לשיחה,
        וגם בריכות לדקורציה.
      </p>
      <p class="mx-auto mt-4 max-w-5xl text-lg md:text-2xl lg:mt-6">
        אנחנו מציעים שירותי ייעוץ ותכנון מקצועיים על מנת להבטיח שכל הפרויקטים
        שלנו יוצאים לפועל באופן מושלם, ואנו מתחייבים לספק ללקוחותינו את השירות
        הטוב ביותר ותוצאות מרשימות ביותר
      </p>
      <a
        href="#calculator"
        class="mx-auto mt-3 flex w-fit flex-row items-center justify-between gap-4 whitespace-nowrap rounded-2xl border-b-4 border-gray-300 bg-stone-800 px-2 py-1 pr-4 text-center text-lg text-white transition-all hover:mt-2 hover:border-b-8 active:translate-y-1 active:border-b-4"
        >למחשבון הצעת מחיר לעצוב גינה<i class="fa-regular fa-face-smile"></i>
      </a>
    </section>
  </main>

  <section
    id="calculator"
    class="flex h-screen w-full flex-col items-center justify-center space-y-3 bg-stone-900 px-5 text-white"
  >
    <h1 class="font-heebo text-6xl font-black">מחשבון הצעת מחיר</h1>
    <h3 class="font-heebo text-3xl font-bold">מלאו את הפרטים ונחזור אליכם</h3>
    <form
      id="regForm"
      class="w-full rounded-full border-white py-12 px-12 sm:border-2 lg:px-24 lg:py-24"
    >
      <div class="tab space-y-4" style="display: none;">
        <label for="fname" class="text-center font-varela text-4xl font-bold">
          היי, נעים מאוד <br />
          מה שמך?
        </label>

        <input
          type="text"
          id="fname"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
          name="name"
        />
      </div>

      <div class="tab space-y-4" style="display: none;">
        <label
          for="checkbox"
          class="text-center font-varela text-4xl font-bold"
        >
          שמחים להכיר <br />
          לאחר מילוי הפרטים בטופס זה, אנחנו נייצר עבורך הצעת מחיר
        </label>

        <div class="flex h-5 items-center justify-center gap-3">
          <input
            id="checkbox"
            name="מסכים_לדיוור"
            aria-describedby="helper-checkbox-text"
            type="checkbox"
            value="a"
            required
            class="h-4 w-4 rounded-full border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
          />
          <label for="checkbox"
            >אני מאשר/ת לחברת ״DPgarden״ להכין ולשלוח לי הצעת מחיר בהתאם לפרטים
            שאמסור</label
          >
        </div>
      </div>

      <div class="tab space-y-4" style="display: none;">
        <label
          for="typeofgarden"
          class="text-center font-varela text-4xl font-bold"
        >
          מה הוא סוג הגינה שלך?
        </label>
        <select
          name="סוג_הגינה"
          id="typeofgarden"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
        >
          <option value="" class="text-black">לחצו כדי לבחור</option>
          <option value="מרפסת" class="text-black">מרפסת</option>
          <option value="גג" class="text-black">גג</option>
          <option value="משרד" class="text-black">משרד</option>
          <option value="גן" class="text-black">גן</option>
          <option value="קרקע" class="text-black">קרקע</option>
          <option value="אחר" class="text-black">אחר</option>
        </select>
      </div>

      <div class="tab space-y-4" style="display: none;">
        <label
          for="typeofservice"
          class="text-center font-varela text-4xl font-bold"
        >
          באיזה סוג שירות אתה מתעניינן?
        </label>
        <select
          name="שירות"
          id="typeofservice"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
        >
          <option value="" class="text-black">לחצו כדי לבחור</option>
          <option value="הקמה" class="text-black">הקמה</option>
          <option value="שיפוץ" class="text-black">שיפוץ</option>
          <option value="טיפול" class="text-black">טיפול</option>
        </select>
      </div>
      <div class="tab space-y-4" style="display: none;">
        <label for="other" class="text-center font-varela text-4xl font-bold">
          האם יש עוד דברים בגן שדורשים התייחסות?
        </label>
        <select
          name="דברים_אחרים"
          id="other"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
        >
          <option value="" class="text-black">לחצו כדי לבחור</option>
          <option value="לא" class="text-black">לא</option>
          <option value="דק" class="text-black">דק</option>
          <option value="פרגולה" class="text-black">פרגולה</option>
          <option value="תאורת_גינה" class="text-black">תאורת גינה</option>
          <option value="ריצוף" class="text-black">ריצוף</option>
          <option value="טיפול" class="text-black">אחר</option>
        </select>
      </div>
      <div class="tab space-y-4" style="display: none;">
        <label for="budget" class="text-center font-varela text-4xl font-bold">
          כבר חשבת על תקציב?
        </label>

        <input
          type="text"
          id="budget"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
          name="מחיר"
        />
      </div>
      <div class="tab space-y-4" style="display: none;">
        <label for="date" class="text-center font-varela text-4xl font-bold">
          למתי תרצו את הפרוייקט?
        </label>
        <select
          name="תאריך_פרוייקט"
          id="date"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
        >
          <option value="" class="text-black">לחצו כדי לבחור</option>
          <option value="מיידי" class="text-black">מיידי</option>
          <option value="ימים_קרובים" class="text-black">ימים קרובים</option>
          <option value="חודש_ואילך" class="text-black">חודש ואילך</option>
        </select>
      </div>
      <div class="tab space-y-4" style="display: none;">
        <label for="fphone" class="text-center font-varela text-4xl font-bold">
          כדי שנוכל ליצור קשר נצתרך את מספר הטלפון שלך
        </label>

        <input
          type="text"
          id="fphone"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
          name="טלפון"
        />
      </div>
      <div class="tab space-y-4" style="display: none;">
        <label for="place" class="text-center font-varela text-4xl font-bold">
          היכן יתקיים הפרוייקט?
        </label>

        <input
          type="text"
          id="place"
          placeholder="לדוגמא: רחובות"
          required
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
          name="מיקום_הפרוייקט"
        />
      </div>
      <div class="tab space-y-4" style="display: none;">
        <label
          for="fmessage"
          class="text-center font-varela text-4xl font-bold"
        >
          עוד משהו שאנו צריכים לדעת?
        </label>

        <input
          type="text"
          id="fmessage"
          class="mx-auto w-full rounded-full border-4 border-inherit bg-transparent py-2 px-4 font-varela text-2xl text-white"
          name="הודעה"
        />
      </div>

      <div
        class="mt-4 flex w-full flex-row items-center justify-center gap-4 text-lg lg:text-2xl"
      >
        <button
          type="button"
          id="prevBtn"
          class="rounded-full border-4 border-white px-6 py-2"
          onclick="nextPrev(-1)">הקודם</button
        >
        <button
          type="button"
          id="nextBtn"
          class="rounded-full border-4 border-white px-6 py-2"
          onclick="nextPrev(1)">הבא</button
        >
      </div>
      <div
        class="mt-4 h-4 w-full rounded-full bg-gray-200"
        style="display: none;"
        id="progress"
      >
        <div
          class="h-4 rounded-full bg-blue-600 transition-all duration-300 ease-in-out"
          style="width: 75%"
        >
        </div>
      </div>
    </form>
  </section>
  <section class="w-full pb-5">
    <h1 class="font-heebo text-6xl font-extrabold text-stone-800">גלריה</h1>
    <Gallary />
  </section>
  <footer class="z-20 bg-stone-800 shadow-xl">
    <div
      class="container mx-auto w-full p-4 text-slate-200 md:flex md:items-center md:justify-between md:p-6"
    >
      <span class="text-2xl lg:text-4xl">
        עוצב על ידי <a
          href="https://www.facebook.com/profile.php?id=100090172908011"
          class="text-3xl font-semibold tracking-wide text-green-700 hover:underline lg:text-5xl"
          >מאור רחמיאל</a
        >
      </span>
    </div>
  </footer>
</Layout>
<!-- step form -->
<script is:inline>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  function showTab(n) {
    // This function will display the specified tab of the form ...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    // ... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == x.length - 1) {
      document.getElementById("nextBtn").innerHTML = "שלח";
    } else {
      document.getElementById("nextBtn").innerHTML = "הבא";
    }
  }

  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form... :
    if (currentTab >= x.length) {
      //...the form gets submitted:
      document.getElementById("regForm").submit();
      return false;
    }
    var progressbar = document.getElementById("progress");
    progressbar.style.display = "block";
    progressbar.children[0].style.width =
      ((currentTab / x.length) * 100).toString() + "%";
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }

  function validateForm() {
    // This function deals with validation of the form fields
    var x,
      y,
      i,
      valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    if (y.length == 0) {
      y = x[currentTab].getElementsByTagName("select");
    }
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
      console.log(!y[i].checked);
      if (
        (y[i].value == "" ||
          (!y[i].checked && y[i].type == "checkbox") ||
          (y[i].name == "טלפון" && !/^\d+$/.test(y[i].value))) &&
        y[i].required == true
      ) {
        // add an "invalid" class to the field:
        y[i].className += " border-red-600";
        // and set the current valid status to false:
        valid = false;
      }
    }

    return valid; // return the valid status
  }
</script>

<!-- accesibility -->
<script>
  const callback = function (entries: IntersectionObserverEntry[]) {
    entries.forEach((entry: IntersectionObserverEntry) => {
      console.log(entry);

      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fadeIn");
      } else {
        entry.target.classList.remove("animate-fadeIn");
      }
    });
  };
  const observer = new IntersectionObserver(callback);

  const targets = document.querySelectorAll(".js-show-on-scroll");
  targets.forEach(function (target) {
    target.classList.add("opacity-0");
    observer.observe(target);
  });
</script>
