---
import Layout from "../layouts/Layout.astro";
import Sep from "../components/Sep.astro";
import Service from "../components/Service.astro";
import Contact from "../components/Contact.astro";
---

<!-- 
#EDF1D6
#9DC08B
#609966
#40513B
 -->
<Layout title="DPgarden">
  <main class="relative">
    <section
      class="flex h-screen w-full flex-col items-center justify-center gap-4 bg-[url(ar1.jpg)] bg-cover bg-center text-center"
    >
      <img
        src="logo.jpg"
        alt=""
        class="aspect-square w-1/2 rounded-full drop-shadow-[0_4px_3px_rgba(0,0,0,0.5)] transition-all md:w-1/6"
      />
      <h1
        class="text-5xl font-bold text-gray-900 drop-shadow-[0_4px_3px_rgba(0,0,0,0.5)]"
      >
        עיצוב הטבע לחיים
        <span class="font-bold text-green-700">משובחים</span>
      </h1>
      <div class="flex flex-col gap-4 md:flex-row">
        <a
          href="#"
          class="mt-1 flex flex-row items-center justify-between gap-4 rounded-2xl border-b-4 border-green-800 bg-green-600 px-2 py-1 pr-4 text-center text-lg text-white transition-all hover:mt-0 hover:border-b-8 active:translate-y-1 active:border-b-4"
          ><i class="fa-brands fa-whatsapp"></i> Whatsapp</a
        >
        <a
          href="#"
          class="mt-1 flex flex-row items-center justify-between gap-4 rounded-2xl border-b-4 border-gray-400 bg-white px-2 py-1 pr-4 text-center text-lg text-black transition-all hover:mt-0 hover:border-b-8 active:translate-y-1 active:border-b-4"
          ><i class="fa-regular fa-face-smile"></i> למחשבון הצעת מחיר</a
        >
      </div>
    </section>

    <section class="w-full">
      <div
        class="flex flex-col justify-center gap-x-28 gap-y-5 px-0 py-5 text-center md:flex-row md:px-10"
      >
        <div>
          <i class="fa-regular fa-heart text-5xl text-gray-700"></i>
          <p class="text-xl">full warrenty</p>
        </div>
        <div>
          <i class="fa-regular fa-user text-5xl text-gray-700"></i>
          <p class="text-xl">full user</p>
        </div>
        <div>
          <i class="fa-regular fa-clock text-5xl text-gray-700"></i>
          <p class="text-xl">full clock</p>
        </div>
        <div>
          <i class="fa-regular fa-circle-check text-5xl text-gray-700"></i>
          <p class="text-xl">full checkmark</p>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center text-center">
        <h1 class="text-5xl font-bold">bathrooms</h1>
        <Sep />
        <p class="max-w-5xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non earum et
          quasi, eligendi, illum consequuntur accusamus laudantium neque impedit
          enim voluptas porro optio? Nam, consectetur.
        </p>
      </div>
    </section>

    <section class="pt-5 text-center">
      <h1 class="text-4xl">קצת עלינו</h1>
      <Sep />
      <p></p>
    </section>

    <Contact />
  </main>

  <!-- dwad -->
  <script>
    const callback = function (entries: IntersectionObserverEntry[]) {
      entries.forEach((entry: IntersectionObserverEntry) => {
        console.log(entry);

        if (entry.isIntersecting) {
          entry.target.classList.add("animate-fadeIn");
        } else {
          entry.target.classList.remove("animate-fadeIn");
        }
      });
    };
    const observer = new IntersectionObserver(callback);

    const targets = document.querySelectorAll(".js-show-on-scroll");
    targets.forEach(function (target) {
      target.classList.add("opacity-0");
      observer.observe(target);
    });
  </script>
</Layout>
