
<section class="bg-bwhite">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 font-varela">צור קשר</h2>
        <form action="https://formsubmit.co/maorrachmiel@gmail.com" class="space-y-8" onsubmit="" method="post">
            <div>
                <label for="name"  class="block mb-2 text-sm font-medium text-gray-900 text-right">שם פרטי</label>
                <input type="text" name="name" id="name" class="shadow-sm bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 "  required>
            </div>
            <div>
                <label for="surename"  class="block mb-2 text-sm font-medium text-gray-900 text-right">שם משפחה</label>
                <input type="text" name="surename" id="surename" class="shadow-sm bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 "  required>
            </div>
            <div>
                <label for="email"  class="block mb-2 text-sm font-medium text-gray-900 text-right">אימייל</label>
                <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 " placeholder="example@gmail.com" required>
            </div>
            <div>
                <label for="phone"  class="block mb-2 text-sm font-medium text-gray-900 text-right">מספר טלפון</label>
                <input type="number" name="phone" id="phone" class="shadow-sm bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 "  required>
            </div>
            <div class="flex items-start mb-6 justify-end">
                <label for="spam" class="mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">אני מעוניין.ת בדיוור</label>
                <div class="flex items-center h-5">
                    <input id="spam" name="spam" type="checkbox" value="agree" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" >
                </div>
                
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 text-right">?עוד משהו שאני צריכה לדעת</label>
                <textarea id="message" name="message" required rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" style="direction:RTL;" placeholder="את יכולה לעזור לי ב..."></textarea>
            </div>
            <div class=" w-full flex justify-end">
                <button type="submit" class="  transition-all duration-150 bg-byellow hover:-translate-y-1 hover:scale-105 hover:bg-[#d1b06b] shadow-sm hover:shadow-md py-3 px-5 text-md font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">שלח הודעה</button>

            </div>
        </form>
    </div>
</section>

